/*Fuentes*/

/*Logos Empresas*/
.logos{
  height: 20%;
}

/*Parallax inicial*/
.paral {
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
  }
.paral img {
 width: 50%;
 vertical-align: middle;
}
.paralsec {
  background-image: url("../img/parallax.jpg");
}
.jumbotron{margin-bottom: 0;}

@media only screen 
   and (max-width : 768px) {
    .paral img {
      width: 100%;
       }
}

/*Diseño Tarjeta*/
.card .card-image{
    overflow: hidden;
    transform-style: preserve-3d;
}

.card .card-image img{
    transition: all 0.4s ease-in-out;
}

.card .card-image:hover img{
    transform: scale(1.2) rotate(-7deg);
}

.card{
    border:none;
    margin-top: 10px;
    position: relative;
  
}

.card .contenido {
  padding: 10px;   
  background:#1A9AE1;
  color:white;
}

.card .contenido .card-title, .card-reveal .card-title{
    font-size: 24px;
    font-weight: 200;    
}


.btn-custom{
    background-color: transparent;
    font-size:18px;
 
}
