/*Fuentes*/
h1 { font-family: "Open Sans"; font-size: 3.75em; font-style: normal; font-weight: 700; margin-top: 0.25em ; margin-bottom: 0.25em; } 
h2 { font-family: "Open Sans"; font-size: 2.75em ; font-style: normal; font-weight: 300; margin-bottom: 1.25em; } 
h3  { font-family: "Open Sans"; font-size: 0.5em ; font-style: normal; font-weight: 300; margin-bottom: 0.25em; } 
p  { font-family: "Roboto"; font-size: 1em ; font-style: normal; font-weight: 300; margin-bottom: 0.25em; } 


/*Logos Empresas*/
.logosexp{
  height: 20%;
}

/*Parallax inicial*/
.parallax_header {
  background-attachment: fixed;
  background-size: cover;
  background-position: 70% 50%;
  background-repeat: no-repeat;
  background-image: url("../img/parallax.jpg");
}
.parallax_header img {
 width: 50%;
 vertical-align: middle;
}
.jumbotron{margin-bottom: 0;}

@media only screen 
   and (max-width : 768px) {
    .parallax_header img {
      width: 100%;
       }
}
@media (max-width:568px){
  .navbar-brand{
    width: 50%;
  }

}

/*Parallax trabajo*/
.parallax_trabajo {
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("../img/wp.jpg");
}
.personal{
  text-align: jus;
}
/*Diseño Tarjeta*/
.imagen{
  
  width: 100%;
}
.card .card-image{
    overflow: hidden;
    transform-style: preserve-3d;
}

.card .card-image img{
    transition: all 0.4s ease-in-out;
}

.card .card-image:hover img{
    transform: scale(1.2) rotate(-7deg);
}

.card{
    border:none;
    margin-top: 10px;
    position: relative;
  
}

.card .contenido {
  padding: 10px;   
  background:#1A9AE1;
  color:white;
}

.card .contenido .card-title, .card-reveal .card-title{
    font-size: 24px;
    font-weight: 200;    
}




.fondofooter{
  background-color: black;
  color: white;
 
}
.logofooter{
  width: 50%;
  vertical-align: middle;
}

.logos{
  margin-top: 4%;
  text-align: center;
}